<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700}">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css/fontawesome.min.css" th:href="@{css/fontawesome.min.css}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/templatemo-style.css" th:href="@{css/templatemo-style.css}">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>
<body id="reportsPage">

<div class="" id="home">
  <div th:replace="~{fragments/navber.html :: nav}"></div>
  <div layout:fragment="custom-content"></div>
  <div th:replace="~{fragments/footer.html :: footer}"></div>
</div>






<script src="js/jquery-3.3.1.min.js" th:src="@{js/jquery-3.3.1.min.js}"></script>
<!-- https://jquery.com/download/ -->
<script src="js/moment.min.js" th:src="@{js/moment.min.js}"></script>
<!-- https://momentjs.com/ -->
<script src="js/Chart.min.js" th:src="@{js/Chart.min.js}"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<!-- https://getbootstrap.com/ -->
<script src="js/tooplate-scripts.js" th:src="@{js/tooplate-scripts.js}"></script>
<script>
    Chart.defaults.global.defaultFontColor = 'white';
    let ctxLine,
        ctxBar,
        ctxPie,
        optionsLine,
        optionsBar,
        optionsPie,
        configLine,
        configBar,
        configPie,
        lineChart;
    barChart, pieChart;
    // DOM is ready
    $(function () {
        drawLineChart(); // Line Chart
        drawBarChart(); // Bar Chart
        drawPieChart(); // Pie Chart

        $(window).resize(function () {
            updateLineChart();
            updateBarChart();
        });
    })
</script>
</body>
</html>