<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Train Ticket Reservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' th:href="@{css/bootstrap.min.css}"/>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel='stylesheet' type='text/css' th:href="@{css/style.css}"/>
    <link href="css/font-awesome.css" rel="stylesheet" th:href="@{css/font-awesome.css}">
    <script src="js/jquery.min.js" th:src="@{js/jquery.min.js}"> </script>
    <!-- Mainly scripts -->
    <script src="js/jquery.metisMenu.js" th:src="@{js/jquery.metisMenu.js}"></script>
    <script src="js/jquery.slimscroll.min.js" th:src="@{js/jquery.slimscroll.min.js}"></script>
    <!-- Custom and plugin javascript -->
    <link href="css/custom.css" rel="stylesheet" th:href="@{css/custom.css}">
    <script src="js/custom.js" th:src="@{js/custom.js}"></script>
    <script src="js/screenfull.js" th:src="@{js/screenfull.js}"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });



        });
    </script>

    <!----->

    <!--pie-chart--->
    <script src="js/pie-chart.js" type="text/javascript" th:src="@{js/pie-chart.js}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
    <!--skycons-icons-->
    <script src="js/skycons.js" th:src="@{js/skycons.js}"></script>
    <!--//skycons-icons-->
</head>

<body>




<div id="wrapper">
    <div>
    <div th:replace="~{fragments/nav.html :: nav}"></div>
        <div layout:fragment="custom-content"></div>
    </div>
</div>

<!---->
<!--scrolling js-->
<script src="js/jquery.nicescroll.js" th:src="@{js/jquery.nicescroll.js}"></script>
<script src="js/scripts.js" th:src="@{js/scripts.js}"></script>
<!--//scrolling js-->
<script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"> </script>
</body>
</html>