<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span></span>
<form th:action="@{/add}" th:object="${student}" method="post">
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" th:field="*{name}"/></td>
        <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error Name</td>
    </tr>

    <tr>
        <td>Age</td>
        <td><input type="text" th:field="*{age}"/></td>
        <td th:class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
    </tr>

    <tr>
        <td>Email</td>
        <td><input type="email" th:field="*{email}"/></td>
        <td th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{'email'}"></td>
    </tr>

    <tr>
        <td>Course Complete</td>
        <td>
           JS <input type="checkbox" th:value="js" th:field="*{courseComplete}"/></td>
        Java <input type="checkbox" th:value="java" th:field="*{courseComplete}"/></td>
        Xml <input type="checkbox" th:value="xml" th:field="*{courseComplete}"/></td>
        <td th:class="err" th:if="${#fields.hasErrors('courseComplete')}" th:errors="*{'courseComplete'}"></td>
    </tr>

    <tr>
        <td>Gender</td>
        Male <input type="radio" th:value="male" th:field="*{gender}"/></td>
        Female <input type="radio" th:value="female" th:field="*{gender}"/></td>
        <td th:class="err" th:if="${#fields.hasErrors('gender')}" th:errors="*{'gender'}"></td>
    </tr>

    <tr>
        <td>Round</td>

        <td><select th:field="*{round}">
<           <option th:value="Round_36">Round_36</option>
            <option th:value="Round_37">Round_37</option>
            <option th:value="Round_38">Round_38</option>
        </select></td>
        <td th:class="err" th:if="${#fields.hasErrors('round')}" th:errors="*{'round'}"></td>
    </tr>

    <tr>
        <td>Name</td>
        <td><input type="text" th:field="*{name}"/></td>
        <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{'name'}"></td>
    </tr>

    <tr>
    <td><input type="submit">Submit</input></td>
    </tr>
</table>
</form>
</body>
</html>