<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .err{
            color: red;
        }
        .succes{
            color: #25802c;
        }
    </style>
</head>
<body>

<form th:action="@{/edit/} + ${id}" th:object="${student}" method="post" enctype="multipart/form-data">
    <table>
        <input type="hidden" th:field="*{id}" th:value="${student.id}"/>
        <input type="hidden" th:field="*{regiDate}" th:value="${student.regiDate}"/>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error Name</td>
        </tr>

        <tr>
            <td>Age</td>
            <td><input type="text" th:field="*{age}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error Age</td>
        </tr>

        <tr>
            <td>Email</td>
            <td><input type="email" th:field="*{email}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{'email'}">Error Email</td>
        </tr>

        <tr>
            <td>Course Complete: </td>
            <td>
                JS <input type="checkbox" th:value="js" th:field="*{courseComplete}"/>
                Java <input type="checkbox" th:value="java" th:field="*{courseComplete}"/>
                Xml <input type="checkbox" th:value="xml" th:field="*{courseComplete}"/>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('courseComplete')}" th:errors="*{'courseComplete'}">Error
                Course Complete
            </td>
        </tr>

        <tr>
            <td>Gender</td>
            <td>
                Male <input type="radio" th:value="male" th:field="*{gender}"/>
                Female <input type="radio" th:value="female" th:field="*{gender}"/>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('gender')}" th:errors="*{'gender'}">Error Gender</td>
        </tr>

        <tr>
            <td>Round</td>

            <td>
                <select th:field="*{round}">
                    <option th:value="Round_36">Round_36</option>
                    <option th:value="Round_37">Round_37</option>
                    <option th:value="Round_38">Round_38</option>
                </select>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('round')}" th:errors="*{'round'}">Error Round</td>
        </tr>


        <tr>
            <td>Birth Date:</td>
            <td><input type="date" th:field="*{birthDate}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">BirthDate Error</td>
        </tr>

        <tr>
            <td>Photo:</td>
            <td><input type="file" name="file"/></td>

        </tr>


        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>