<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h3>Hello Wrold</h3>
<span style="color: darkslategrey; font-weight:900"  th:text="${successMasg}"></span>
<form th:object="${user}" th:action="@{/}" th:method="POST">
   Name <input th:field="*{name}"/><br/>
    UserName <input th:field="*{userName}"/><br/>
    Password <input th:field="*{password}"/><br/>
    <button type="submit">save</button>
</form>
</body>
</html>